<button (click)="showAddCharacterForm()">
  New Character
</button>

<br/>
<br/>

<div class="character-detail" *ngIf="character">
  <div class="float-left">
    <div>
      <label for="name">name:</label>
      <input id="name" [(ngModel)]="character.name" placeholder="Name"/>
    </div>
    <div>
      <label for="base-initiative">Base Initiative:</label>
      <input id="base-initiative" [(ngModel)]="character.baseInitiative" placeholder="Base Initiative"/>
    </div>
    <div>
      <label for="initiative-dice">Initiative Dice:</label>
      <input id="initiative-dice" [(ngModel)]="character.initiativeDice" placeholder="Initiative Dice"/>
    </div>
  </div>
  <div class="float-left">
    <div>
      <label for="stun-damage">Stun Damage:</label>
      <input id="stun-damage" [(ngModel)]="character.stunDamage" placeholder=""/>
    </div>
    <div>
      <label for="physical-damage">Physical Damage:</label>
      <input id="physical-damage" [(ngModel)]="character.physicalDamage" placeholder=""/>
    </div>
  </div>
	<button (click)="save()">save</button>
</div>